@model Web.Models.LoginViewModel

@{
    ViewBag.Title = "Вход";
    Layout = "~/Views/Shared/Account_Layout.cshtml";
}
<section class="content-wrapper main-content clear-fix">
    <section id="loginForm">
        <h1>Выполнить вход.</h1>
        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
        {
            <fieldset>
                <legend>Форма входа</legend>
                <ol>
                    <li>
                        @Html.ValidationSummary(true)
                    </li>
                    <li>
                        <label>Логин:</label>
                        @Html.TextBoxFor(x => x.UserName) @Html.ValidationMessageFor(x=>x.UserName)
                    </li>
                    <li>
                        <label>Пароль:</label>
                        @Html.PasswordFor(x => x.Password) @Html.ValidationMessageFor(x=>x.Password)
                    </li>
                </ol>
                <input type="submit" value="Выполнить вход" />
            </fieldset>
        }
    </section>
</section>
