@using Web.Models
@model UserViewModel
@{
    ViewBag.Title = Model.User.LastName + " " + Model.User.FirstName + " " + Model.User.MiddleName;
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div id="leftcol">
    @Html.Partial("Menu",Model)
</div>
<div id="rightcol">
    @if (Model.UserIsMe)
    {
        <div>Это вы!</div>
    }
    else if (Model.UserIsMyFriend)
    {
        <div>
            Этот пользователь у вас в друзьях. @Html.ActionLink("Написать сообщение", "Chat", "Messages", new { userFromId = Model.User.Id }, null)
            или 
            @Html.ActionLink("Удалить из друзей", "DeleteFriend", "Friends", new { id = Model.User.Id }, null)
        </div>
    }
    else if (Model.FriendRequestIsSent)
    {
        <div>
            Вы отправили заявку в друзья. Необходимо подождать пока этот пользователь подтвердит
            ее.
            @Html.ActionLink("Отменить свою заявку", "CancelFriendRequest", "Friends", new { id = Model.User.Id }, null)
        </div>
    }
    else
    {
        <div>@Html.ActionLink("Добавить в друзья", "AddFriendRequest", "Friends", new { id = Model.User.Id }, null)
        </div>
    }

    <p>
        Фамилия: <b>@Model.User.LastName</b>
    </p>
    <p>
        Имя: <b>@Model.User.FirstName</b>
    </p>
    <p>
        Отчество: <b>@Model.User.MiddleName</b>
    </p>
</div>
