<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
         <meta name="viewport" content="width=device-width" />
        <link href="/Content/Site.css" rel="stylesheet"/>
        <script src="/Scripts/modernizr-2.5.3.js"></script>
</head>
<body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title"><a href="/"><img src="/Images/Blogger.ico"/></a></p>
                </div>
                <div class="float-right">
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Главная страница", "Index", "Account")</li>
                            <li>@Ajax.ActionLink("Войти", "Login", "Account",new AjaxOptions{ UpdateTargetId="body"})</li>
                            <li>@Ajax.ActionLink("Регистрация", "Register", "Account",new AjaxOptions{ UpdateTargetId="body"})</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderBody()
        </div>	
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; 2016 — приложение ASP.NET MVC</p>
                </div>
            </div>
        </footer>

        <script src="/Scripts/jquery-3.1.0.js"></script>
        <script src="/Scripts/jquery.unobtrusive-ajax.js"></script>
        <script src="/Scripts/jquery.validate.js"></script>
        <script src="/Scripts/jquery.validate.unobtrusive.js"></script>
    </body>
</html>
